<h1>予約フォーム</h1>
<form action="mailto:ahf1@hotmail.co.jp" enctype="text/plain" method="post">
<p><label>メールアドレス：
<input type="text" name="メールアドレス" value="" tabindex="0" accesskey="a">
</label>

<label>お名前：
<input type="text" name="名前" value="" tabindex="1" accesskey="b">
</label></p>

<p>性別：
<input type="radio" name="sex" value="man" tabindex="2" accesskey="c">男性
<input type="radio" name="sex" value="woman" tabindex="3" accesskey="d">女性<br>

曜日：
<input type="checkbox" name="day" value="Student" tabindex="4" accesskey="e">月曜日
<input type="checkbox" name="day" value="worker" tabindex="5" accesskey="f">火曜日
<input type="checkbox" name="day" value="official" tabindex="6" accesskey="g">水曜日
<input type="checkbox" name="day" value="etc" tabindex="7" accesskey="h">木曜日
<input type="checkbox" name="day" value="etc" tabindex="8" accesskey="i">金曜日
<input type="checkbox" name="day" value="etc" tabindex="9" accesskey="j">土曜日
<input type="checkbox" name="day" value="etc" tabindex="10" accesskey="k">日曜日

</p>

<p>時間：<select name="time" tabindex="11">
<option value="6~9">6時~9時</option>
<option value="9~12">9時~12時</option>
<option value="13~15">13時~15時</option>
<option value="15~18">15時~18時</option>
<option value="18~21">18~21時</option>
<option value="21~24">21時~24時</option>
<option value="24~6">24時~6時</option>
<option value="time" selected>お選びください</option>
</select></p>

<p><label>したい事orして欲しい事<br>
<textarea name="title" rows="5" cols="60" tabindex="9" accesskey="i">
</textarea>
</label></p>

<p>
<input type="reset" value="送信" tabindex="12" accesskey="s">
<input type="reset" value="取消" tabindex="13" accesskey="r">
</p>
</form>
